<mat-toolbar color="Transparent">
    
      <span class="light"
        ><img class="fullbg" [src]="page.image2" alt="image"
      /></span>

    <span class="spacer"> </span>
    <a mat-button>Products</a>
    <a mat-button>Solution</a>
    <a mat-button>Pricing</a>
    <button mat-raised-button color="primary">Login</button>
    <button mat-raised-button color="accent">Get started</button>
  </mat-toolbar>
  <body>
  
    <mat-grid-list cols="2" rowHeight="2:1">
      <mat-grid-tile class="gridLeft"
        ><span class="sp1">
          We make it super<br />
          Simple!</span
        ></mat-grid-tile
      >
      <mat-grid-tile class="gridRight"rowHeight="4:1" >
          <mat-card class="card">
              <mat-card-header>
                <mat-card-title
                  ><h3>{{ page.title }}</h3></mat-card-title
                >
              </mat-card-header>
              <h4>Monthly Income</h4>
              <mat-card-content>
                <mat-slider
                  thumbLabel
                  tickInterval="1000"
                  min="1"
                  max="100000"
                ></mat-slider>
                <h4>Monthly Expense</h4>
                <mat-slider
                  thumbLabel
                  tickInterval="1000"
                  min="1"
                  max="100000"
                ></mat-slider
                ><br />
                <h4>Repayment Tenure</h4>
                <mat-select>
                  <a mat-list>products</a>
                </mat-select>
                <mat-slide-toggle>
                  <p>Do You have any exesting loan?</p><a mat-slide-toggle></a>
                </mat-slide-toggle>
                <mat-form-field appearance="legacy">
                  <mat-label>EMI of existing loans</mat-label>
                  <input matInput placeholder="In Rurpee" />
                </mat-form-field>
              </mat-card-content>
            </mat-card>
            
      </mat-grid-tile>
      <mat-grid-tile
        ><img mat-card-image /><img src="assets/collect_img-video.png" alt=""
      />
    
    </mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile class="innerGrid1">
        <img class="pic" src="assets/Get_Paid_Instantly.png" alt="">
        <h4 class="bb">Quick cash disbursement</h4><br>
        <p class = "text1">Get terms loans that your business needs within 72 hrs</p>
    <mat-grid-tile >
    
    </mat-grid-tile>
    </mat-grid-tile>

    <mat-grid-tile class="innerGrid2">
        <img class="pic1" src="assets/Low_interest_rate.png" alt="">
        <h4 class="bb2">Low intrest rates</h4>
        <p class="text2">Achieve your financial goals with an amazing interest <br>rate starting at 13% per annum</p>
    </mat-grid-tile>
    <mat-grid-tile class="innerGrid3">
      <img class="pic1" src="assets/freelancer_feature_icon_6.png" alt="">
      <h4 class="bb2">Ace your business finances</h4>
      <p class="text2">Manage banking, accounting & everything <br>in between, on one platform</p>
  </mat-grid-tile>
  <mat-grid-tile class="innerGrid2">
    <img class="pic1" src="assets/Secure_Payments.png" alt="">
    <h4 class="bb2">Zero Paperwork</h4>
    <p class="text2">Get started instantly by submitting only your basic<br> details & bank statements</p>
</mat-grid-tile>
<mat-grid-tile class="innerGrid2">
  <img class="pic1" src="assets/Covid.png" alt="">
  <h4 class="bb2">Loans to fight COVID-19</h4>
  <p class="text2">Zero EMI for first 3 months on Back-to-Business <br> loans of upto 1 lakh</p>
</mat-grid-tile>
<mat-grid-tile><h1>Boost your business with Open</h1><br>
<span></span><br>
<p>Get your hands on a term loan that’s<br> crafted for your business</p>
<span></span>
<button mat-raised-button color="accent">Get an Open Account.</button>
</mat-grid-tile>
  

   