<mat-toolbar color="Transparent">
    <h1><span class="light"><img class = "fullbg" [src]="page.image2" alt="image"></span></h1>
    <span class="spacer">                 </span>
    <a mat-button>Products</a>
    <a mat-button>Solution</a>
    <a mat-button>Pricing</a>
    <button mat-raised-button color="primary">Login</button>
    <button mat-raised-button color="accent">Get started</button>
  </mat-toolbar>
  <body>
    <mat-grid-list cols="2" rowHeight="1:1" rowspan="2">
        <mat-grid-tile>
            <span class='sp1'> We make it super<br> Simple!</span><br>
            <mat-grid-tile><img mat-card-image><img src="assets/collect_img-video.png" alt=""></mat-grid-tile>

        </mat-grid-tile>
      </mat-grid-list>
 

<mat-card>
<mat-card-header>
<mat-card-title><h3>{{page.title}}</h3></mat-card-title>


</mat-card-header>
<h4>Monthly Income</h4>
<mat-card-content>

    <mat-slider
    thumbLabel
  
    tickInterval="1000"
    min="1"
    max="100000"></mat-slider>
<h4>Monthly Expense</h4>
<mat-slider
thumbLabel
  
tickInterval="1000"
min="1"
max="100000"></mat-slider><br>
<h4>Repayment Tenure</h4>
<mat-select>
    <a mat-list>products</a>
</mat-select>
<mat-slide-toggle>
    <a mat-slide-toggle>Do You have any exesting loan?</a>
</mat-slide-toggle>
<mat-form-field appearance="legacy">
    <mat-label>EMI of existing loans</mat-label>
    <input matInput placeholder="In Rurpee">
    
    
  </mat-form-field>
</mat-card-content>
</mat-card>

</body>