/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
.fullBg {
    top: 213px;
    left: -179px;
    width: 571px;
    height: 572px;
  
    opacity: 1;
}
.mat-card{
    width: 350px;
}

body {
    background-image: url(assets/sol_wave_bg.svg) bottom;
    background-color: #ffffff;
   }
   .gridRight{
       height: 60%;
       background-image: url(assets/circle.svg);
   }
   .gridLeft{
       background-image: url(assets/blob-small.svg);

       background-repeat: no-repeat;
       right: 40%;
       background-size: contain;
   }
   
.sp1{
top: 370px;
left: 189px;
width: 407px;
height: 98px;
font-size: 30px;
padding-top: 30px;
border-bottom: 8px solid black;
font-weight: bold;
}  
.mat-toolbar{
    background : transparent;
}
.mat-button{
    left : 700px;
}

.mat-slider-horizontal {
    height: 48px;
    min-width: 300px; 
}
.mat-raised-button{
    left : 780px;
}


  .mat-slider {
    width: 300px;
  }
  .light{
      padding-top: 50px;
      margin-top: 10px;
  }
  .innerGrid1{
      background-image: url(assets/Rectangle_Copy_23.svg);
      background-repeat: no-repeat;
  }
  .pic{
  
      align-content: end;
    position: absolute;
    top: 70px;
    left: 90px;
}
.text1{
    position: absolute;
    top: 200px;
    left: 60px;
}
.bb{
    position: absolute;
    top:150px;
    left :60px;
}
.div1{
   
 background-image: url(assets/sol_wave_bg.svg) ;
}
 .innerGrid2{
    background-image: url(assets/Rectangle_Copy_23.svg);
    background-repeat: no-repeat;
 } 
 .pic1{
     
    align-content: end;
    position: absolute;
    top: 70px;
    left: 90px;
 }
 .text2{
    position: absolute;
    top: 200px;
    left: 60px;
 }
 .bb2{
    position: absolute;
    top:150px;
    left :60px; 
 }
 .card{
     top:-400px;
 }
 .innerGrid3{
    background-image: url(assets/Rectangle_Copy_23.svg);
    background-repeat: no-repeat;
    left: -60px;
 }